---
layout: default
---

<div class="home">

	<h1 class="home_title">Hi there! I'm Prabhpreet. Welcome to my place on the interwebs.</h1>
	
	<div class="home_half">
	<h2 class="home_title">Work</h2>
	<ul>
	{% for page in site.pages %}
          {% if page.title %}<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
    {% endfor %}
	</ul>
	</div>
	{% if site.posts %}
	<div class="home_half">
	
	<h2 class="home_title">Articles</h2>
	
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>:
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  </div>
  {%endif%}


</div>
